html,body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { 
	margin:0;
	padding:0; 
}
a{
	text-decoration:none;
}
ul,ol,li{
	list-style: none;
}
img{
	border:0;display:block;
}
body{
	font-family:"微软雅黑";
}
b,strong{
	font-weight:100;
}
i,em{
	font-style:normal;
}
h1,h2,h3,h4,h5,h6{
	font-size:16px;
	font-weight:100;
}
.clearfix:after{
	content:".";
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility: hidden;
}
body{
	background:#f2f2f2;
	color:#3e3e3e;
}


					/* 引用头部*/
					/*min内容*/
#details-page{
	width:1090px;
	margin:0 auto;
}
.details-page-head{
	height: 20px;
    line-height: 20px;
    overflow: hidden;
    margin: 15px auto;
    color: #888;
    font-size: 12px;
}
.details-page-head a{
	color:#888;
}
.details-page-head h2{
	display: inline;
}
.details-page-head h2 a{
	font-size: 14px;
}
.page-content{
	background:#fff;
	margin-bottom:30px;
}
.page-Reciprocal{
	background: #bf9b5f;
    height: 58px;
    line-height: 53px;
    color: #fff;
    font-size: 24px;
    padding-left: 15px;
    position: relative;
}
.page-Reciprocal .i1{
	width: 20px;
    height: 19px;
    background: url(../images/tips.png) no-repeat -360px -405px;
    display: block;
    position: absolute;
    left: 40px;
    top: 50px;
}
.page-Reciprocal .span2{
	font-size: 14px;
	padding-right:30px;
	float:right;
}
.page-Reciprocal .span2 b{
	font-size: 24px;
	font-weight:900;
}
.Reciprocal-time{
	float: left;
}
.Reciprocal-end-time{
	float: right;
	margin-left:20px;
}
.page-content-L{
	float: left;
	width:550px;
	background:#fff;
}
.page-content-L i{
	width: 68px;
    height: 81px;
    padding: 28px 40px 0 0;
    color: #fff;
    margin: 10px 0 0 35px;
    display: block;
    text-align: right;
    background: url(../images/tips.png) no-repeat 0 -488px;
}
.page-content-L i b{
	font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 40px;
    margin-right: 5px;
    font-weight: normal;
    font-style: italic;
    padding-top: 10px;
}
/*商品相册*/
.content-album{
	width: 500px;
    margin: 25px auto;
    position: relative;
    background:#fff;
}
.content-album-big{
	position: relative;
	width: 300px;
    height: 300px;
    line-height: 298px;
    overflow: hidden;
    text-align: center;
    font-family: Arial;
    margin: 0 auto;
    background:#fff;
}
.zhezhaoceng{
	position: absolute;
	width:200px;
	height:150px;
	top:0;
    z-index: 5;
    display:none;
    overflow: hidden;
    background-color: #B3D5FF;
    opacity: 0.5;
    filter: alpha(opacity=50);
    line-height: 1;
    cursor: move;
}
.div_smal{
	height:300px;
	width: 300px;
	position: relative;
}
.content-album-big .a1{
	position: absolute;
	display: block;
	width:100%;
	height:100%;
	opacity: 0;
	z-index: 20;
}
.div_smal img{
	position: absolute;
}

.content-album-zoom{
	position: absolute;
    bottom: 0;
    right: 0;
    z-index: 11;
    background-color: #f6f6f6;
    width: 24px;
    height: 24px;
    text-align: center;
    opacity: 0.85;
    overflow: hidden;
}
.content-album-zoom .a2{
	position: absolute;
	color: #666666;
    font-size: 13px;
    line-height: 24px;
    background:#f6f6f6;
}
.content-album-xq{
	width: 88%;
	height:30px;
    margin: 0 auto 20px auto;
}
.content-album-xq a{
	width:100px;
	height:30px;
	display: block;
    color: #999;
    float: left;
    font-size: 14px;
    line-height:14px;
    position: relative;
}
.content-album-xq a img{
	display: inline-block;
}
.content-album-xq a b{
	width:58px;
	margin-bottom:5px;
	position: absolute;
	top:10px;
	left:30px;
}
.content-album-smal{
	margin-top: 10px;
    width: 100%;
    position: relative;
    clear: left;
}
.album-smal-L{
	position: absolute;
    top: 0;
    margin-top: 5px;
    width: 16px;
    height: 105px;
    line-height: 64px;
    text-align: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
.album-smal-L .icon{
	color: #e5cbb2;
    font-size: 28px;
    margin-left: -1px;
    display: block;
    margin-top: 15px;
}
.album-smal-C{
	margin: 0 26px;
    padding-top: 5px;
    overflow: hidden;
    width: 450px;
    height: 105px;
}
.album-smal-C ul{
	width:542px;
}
.album-smal-C ul li{
	margin: 0 5px 0 0;
    float: left;
}
.arrow-top{
	position: absolute;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    width: 10px;
    height: 10px;
    left: 48px;
    top: -10px;
}
.thumbnail{
	border: 1px solid #ccc;
    width: 93px;
    height: 94px;
}
.thumbnail img{
	max-width: 60px;
    max-height: 60px;
    vertical-align: middle;
    margin:15% 15%;
}
.album-smal-R{
	position: absolute;
    top: 0;
    right:0;
    margin-top: 5px;
    width: 16px;
    height: 105px;
    line-height: 64px;
    text-align: center;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}
.album-smal-R .icon1{
	color: #e5cbb2;
    font-size: 28px;
    margin-left: -1px;
    display: block;
    margin-top: 15px;
}
/*右边*/
.page-content-R{
	float: right;
	width: 495px;
    margin-right: 0;
    padding-right: 5px;
    padding-top: 5px;
}
.bonded-banner{
	width: 495px;
    height: 44px;
    padding-bottom: 24px;
}
.bonded-banner img{
	width: 100%;
    height: auto;
    display: block;
}
.bonded-title{
	padding-bottom: 30px;
    line-height: 1.2;
    text-align: left;
    font-size: 22px;
    font-weight: normal;
}
.bonded-title .iicon{
	color: #c29b60;
    font-size: 25px;
    vertical-align: super;
}
.bonded-line{
	border-left: 1px dashed #f0eee2;
    padding-left: 30px;
    margin-left: -30px;
    clear: both;
}
.bonded-title2{
	color: #505a64;
    font-size: 18px;
    line-height: 26px;
}
.bonded-title2 b{
	color:#ee9c23;
}
.bonded-title2 a{
	color: #3e3e3e;
}
.bonded-title3{
	color: #505a64;
    font-size: 18px;
    line-height: 26px;
}
/*商品详细信息*/
.bonded-information{
	line-height: 2;
    float: left;
    width: 100%;
    padding-bottom: 40px;
}
.bonded-buy{
	padding: 10px 0;
    margin-top: 10px;
}
.bonded-buy-quantity{
	margin-bottom:20px;
}
.bonded-buy-quantity lable{
	float:left;
	cursor: default;
}
.bonded-buy-quantity .item-content{
	display: block;
	float: left;
	margin-left:10px;
}
.bonded-buy-quantity .p-quantity{
	width:74px;
}
.p-quantity .btn-l{
	display: inline-block;
    width: 20px;
    height: 21px;
    overflow: hidden;
    vertical-align: middle;
    border: 1px solid #f2f2f2;
    text-align: center;
    font: 14px/22px simsun,serif;
    background: #f2f2f1;
    font-weight: bold;
}
.p-quantity .ipt{
	width: 30px;
    height: 21px;
    line-height: 21px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    border-width: 1px 0;
    border-style: solid;
    border-color: #f2f2f2;
    text-align: center;
}
.p-quantity .btn-r{
	display: inline-block;
    width: 20px;
    height: 21px;
    overflow: hidden;
    vertical-align: middle;
    border: 1px solid #f2f2f2;
    text-align: center;
    font: 14px/22px simsun,serif;
    background: #f2f2f1;
    font-weight: bold;
}
.bonded-concerns{
	position: relative;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.bonded-concerns .span-1{
	display: inline-block;
	height: 24px;
    color: #888888;
    padding-left: 5px;
}
.bonded-concerns .span-2{
	font-size: 35px;
    line-height: 1.2;
    text-decoration: none;
    color: #ec3e7d;
}
.bonded-concerns .span-3{
	text-decoration: line-through;
}
.action-btn1{
	margin-right: 15px;
    width: 220px;
    height: 50px;
    background: #ec3e7d;
    line-height: 50px;
    overflow: hidden;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-size:14px;
    color: #fff;
}
.action-btn2{
	width:200px;
	margin-right: 0;
    border: 1px solid #dedede;
    padding-top:10px;
    padding-bottom:10px;
    color: #999999;
    display: inline-block;
    text-align: center;
    font-size:14px;
}
.bonded-share{
	border-top: 1px solid #dfdfdf;
    margin-top: 15px;
    padding-top: 120px;
}
.bonded-share .shoucang{
	display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    float: left;
    font-size: 16px;
    padding: 0 3px;
    color: #666;
}
.share-mini{
	width: 222px;
    float: right;
}
.share-mini span{
	display: inline-block;
	width:48px;
	height:20px;
	line-height:20px;
}
.share-mini a{
	width: 17px;
	height: 10px;
	line-height: 16px;
    padding: 5px 2px;
    display: inline-block;
    white-space: nowrap;
	background:url(../images/share.png) no-repeat;
}
.share-mini .a_2{
	background-position-y:-20px;
}
.share-mini .a_3{
	background-position-y:-40px;
}
.share-mini .a_4{
	background-position-y:-60px;
}
.share-mini .a_5{
	background-position-y:-80px;
}
.share-mini .a_6{
	background-position-y:-100px;
}
/*大图*/
#product_container{
	overflow: hidden;
}
.product_container{
	width:400px;
    height:300px;
    right:185px;
    top: 435px;
    position: absolute;
    border: 1px solid #cccccc;
    z-index: 10000;
    display: none;
    background-color: white;
    overflow: hidden;
}
.div_a{
	position: relative;
	width:600px;
	height:600px;
	left:0;
}
.div_a img{
	position: absolute;
}
/*商品参数 详情*/
#pro-maincont{
	width:1090px;
	margin: 0 auto;
}
.pro-maincont{
	width: 811px;
    margin-bottom: 30px;
    float: right;
}
.maincont_head{
	height:76px;
	position: relative;
}
.product-tags{
	background:#fff;
	position: absolute;

}
.product-tags .tags-hd{
	font-size: 14px;
    float: left;
    margin-right: 5px;
}
.product-tags .tags-hd a{
	color: #555c67;
    border: 1px solid white;
    display: block;
    padding: 2px 26px;
    height: 42px;
    line-height: 42px;
    font-size: 16px;
}
.tags-addtocart{
	float: right;
    width: 260px;
}
.tags-addtocart b{
	line-height: 50px;
	float: left;
	color:#ec3e7d;
	font-size: 24px;
	font-weight:900;
}
.tags-addtocart a{
	background: #ec3e7d;
    padding: 0px 20px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    float: right;
    margin-left: 15px;
    border-radius: 0;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
}
.product_section{
	background:#fff;
}
.product_parameters{
	margin-bottom:26px;
}
.mod-title{
	height:32px;
	border-left: 3px solid #db3f7e;
}
.mod-title-text{
	line-height: 32px;
    font-weight: 400;
    padding-left: 10px;
    font-size: 21px;
    background: url(../images/probt.png) no-repeat 110px 3px;
}
.product_parameters ul{
	padding: 30px 45px;
}
.product_parameters ul li{
	clear: both;
    color: #333;
    padding: 6px 0;
}
.product_parameters ul li span{
	width: 140px;
    color: #666;
    display: inline-block;
}
.attributes-cont{
	width: 580px;
    float: right;
    text-align: left;
}
.mod{
	background:#fff;
}
.mod .mod-title-text{
	background-position-y: -46px ;
}
.mod-main{
	padding: 40px 30px;
}
.mod-main img{
	max-width: 100%;
}
.mod1{
	background:#fff;
}
.mod1 .mod-title-text{
	background-position: 110px -100px;
}
.mod2{
	background:#fff;
}
.mod2 .mod-title-text{
	background-position: 110px -146px;
}
.comment-list{
	min-height:500px;

}
